/* 
COLORES

Verde: #b5c84e;

*/

body {font-family: 'Lato', sans-serif; margin: 0}
body, html {height: 100%}
.container {max-width: 1200px; margin: 0 auto; position: relative;}
.containerSmall {max-width: 1000px; margin: 0 auto; position: relative;}
ul, li {list-style: none; margin: 0; padding: 0}
a {text-decoration: none;}
button span {display: none;}
.clear {clear: both}

header {border-top: 2px solid #b5c84e; margin-top: 1em; position: absolute; top: 0; width: 100%}

nav {}
nav li {display: inline-block;}
nav a {display: block; height: 98px; position: relative;}
nav .participa {background: url(../images/btn-participa.png) no-repeat; width:251px; left:0;}
nav .tips {background: url(../images/btn-tips.png) no-repeat; width:179px; left: -28px;}
nav .bases {background: url(../images/btn-bases.png) no-repeat; width:180px; left: -55px;}
nav span, .ahorra span {display: none}

.ahorra {width: 80px; height: 102px; background: url(../images/ahorra-agua.jpg);position: absolute; top: 10px; right: 0}

h2 {font-weight: 400; color: #3d77b7}
h2 span {display: inline-block; vertical-align: middle;}

/* HOME */
#inicio {background: url(../images/manos.jpg) no-repeat right top; background-size: auto 80%; display: table; width: 100%;}
.mainTxt {width: 100%; height: 100%; display: table-cell; vertical-align: middle;t}
.mainImg {width: 50%; float: right; text-align: right;}
.mainImg img {width: auto; height: 100%}
.consigna {border-top: 2px solid #b5c84e; position: absolute; left: 0; bottom: 0; width: 100%;}
.consigna h2 {float: left; width: 60%; line-height: 0.8em;}
.calafate {float: left; width: 20%}

section {height: 100%; position: relative; box-sizing:border-box;}

/* Registro y poné tu comentario*/
#participa {background: url(../images/agua.jpg) no-repeat bottom; background-size: 100%; padding-top: 160px;} 
#participa .camposRegistro {width: 48%; float: left}
#participa .campoComentarios {width: 48%; float: right;background: url(../images/bg-comentarios.svg) no-repeat top left; min-height: 350px; box-sizing:border-box; padding: 15px; position: relative;}
#participa .campoComentarios h2 {color: #fff; margin-top: 0}

/* Formulario de Registro */
.formRegistro {}
.formRegistro label {padding-left: 5px;}
.ancho100 {width: 100%; display: inline-block;}
.ancho60 {width: 60% !important; display: inline-block }
.ancho40 {width: 40%; display: inline-block;}
.ancho20 {width: 18%; display: inline-block;}
.combo {margin-bottom: 12px;}
.masEan {background: url(../images/masEan.svg) no-repeat; width: 60px; height: 32px; border: 0; cursor: pointer; position: relative; left: -21px; top: 1px}
.ean {margin-bottom: 20px}
.observacion {font-size: 0.8em;position: relative; top: -12px; left: 5px;}
.observacion2 {font-size: 0.9em;}

.textAComentario {border:2px solid #b5c84e; width: 230px; height: 220px; color: #3d77b7;font-family: 'Lato', sans-serif; padding: 5px; font-size: 13px }
.btnMira {background: url(../images/btn-mira.svg) no-repeat; display: inline-block; width:208px; height: 78px; position: absolute; top:150px; left: 270px}
.btnMira span {display: none;}
.btnEnviar {display: inline-block; width: 110px; height: 34px; background: url(../images/bg-btn-enviar.svg) no-repeat; color:#dce4a8; font-size: 17px; border: 0; font-weight: 600; position: relative; top: -12px; left: 60px}
.btnLeerMas {display: inline-block; width: 141px; height: 34px; background: url(../images/bg-btn-mas.svg) no-repeat; font-size: 17px; border: 0; font-weight: 600; padding: 6px 10px; color: #4e7bb9; cursor: pointer}

.check {}
.check input[type="checkbox"] {float: left; margin-bottom: 1em; margin-right: 0.5em; position: relative; top: 0px}
.check label {display: block}

/* Comentarios */ 
#comentarios {padding-top: 160px;}
#comentarios h2 {font-weight: 700}
.opiniones {}
.opiniones li {background: url(../images/hombrecito.gif) no-repeat left; padding-left:50px; padding-top: 5px; color: #3d77b7; font-size: 20px; margin-bottom: 20px }
.opiniones p {margin: 0}
.opiniones p.participante {color: #b5c84e; font-size: 14px; margin-top: 5px}

/* Consejos */
#consejos {padding-top: 160px;}
#consejos h2 {font-weight: 700; text-align: center}

.tips {margin: 0 -1%; color: #8ec3e6}
.tips li {float: left; width: 18%; margin: 0 1%; text-align: center}
.tips h3 {color: #3d77b7}
.tips .litros {}

/* Bases y condiciones */
/*#masBases {display: none}*/
#bases {min-height: 700px; padding-top: 160px; }
#bases .colContent {padding-top: 0.1em;}
.colMenu {width: 327px; float: left; position: relative; z-index: 100}
.colContent {margin: 0 auto; max-width: 600px; position: relative; z-index: 100; background: white}
.divDivisor {margin: 3em 0 5em}
.divDivisor img {width: 100%; height: auto}

/*.btnProd {border: 2px solid #e2002c; color: #e2002c; display: inline-block; padding:0 70px 0 15px; border-radius: 20px; font-weight: 400; font-size: 25px; height: 40px; line-height: 40px; cursor: pointer; margin-bottom: 2em;}*/
.logoColgate {position: relative; top:17px; left: -70px; height: 35px; border: 4px solid white; display: inline-block;}

/* Footer */
footer {width: 100%; height: 80px; text-align: center; font-size: 14px;}
.copyright {font-size: 14px; color: #2d2d2d; letter-spacing: 0.2px;text-align: center; margin-bottom: 12px;}
.copyright a { font-size: 14px; color: #505050; text-decoration: underline;}
.copyright a:hover {color: #c00;}   
.brand a { display: block; width: 220px; height: 23px; margin: 0 auto; background: url(../images/cp.png) center center; text-align: center;}
.brand a:hover {background: url(../images/cp_hover.png) center center;}

/* Botones */
.btn {background: #e2002c; border: none; color: #fff; display: inline-block; padding:0 15px; border-radius: 17px; font-weight: 600; font-size: 20px; height: 35px; line-height: 35px; cursor: pointer;}


input[type="text"], input[type="email"] {border:2px solid #b5c84e; display: inline-block; padding:0 15px; font-weight: 600; font-size: 20px; height: 32px; line-height: 32px; width: 100%; box-sizing:border-box; vertical-align: middle;}
input[type="submit"] {font-family: 'Lato', sans-serif;}

.contentUp {width: 100%; position: fixed; bottom: 0; left:0; z-index: 999}
.scrollUp{ width:101px; height:57px; position:fixed; z-index: 999; bottom:0; right:25px; display:none; background: url(../images/up.svg); }


/* D I V  L O A D I N G */
#divLoading {display: none; position: fixed; top: 0; left: 0; z-index: 5000; width: 100%; height: 100%; text-align: center; background: rgba(255,255,255,0.7);}
#divLoading img {position: absolute; top: 50%; left:50%; margin-top: -24px; margin-left: -24px}
#divLoading p {position: absolute; top:40%; width: 100%; font-size: 1.6em;}
