/* 
COLORES

Verde: #b5c84e;

*/

body {font-family: 'Lato', sans-serif; margin: 0}
body, html {height: 100%}
.container {max-width: 1200px; margin: 0 auto; position: relative;}
ul, li {list-style: none; margin: 0; padding: 0}
a {text-decoration: none;}
button span {display: none;}
.clear {clear: both}

header {border-top: 2px solid #b5c84e; margin-top: 1em; position: absolute; top: 0; width: 100%}

nav {}
nav li {display: inline-block;}
nav a {display: block; height: 98px; position: relative;}
nav .participa {background: url(../images/btn-participa.png) no-repeat; width:251px; left:0;}
nav .tips {background: url(../images/btn-tips.png) no-repeat; width:179px; left: -28px;}
nav .bases {background: url(../images/btn-bases.png) no-repeat; width:180px; left: -55px;}
nav span, .ahorra span {display: none}

.ahorra {width: 80px; height: 102px; background: url(../images/ahorra-agua.jpg);position: absolute; top: 10px; right: 0}

h2 {font-weight: 400; color: #3d77b7}
h2 span {display: inline-block; vertical-align: middle;}

/* HOME */
#inicio {background: url(../images/manos.jpg) no-repeat right top; background-size: auto 80%; display: table; width: 100%;}
.mainTxt {width: 100%; height: 100%; display: table-cell; vertical-align: middle;t}
.mainImg {width: 50%; float: right; text-align: right;}
.mainImg img {width: auto; height: 100%}
.consigna {border-top: 2px solid #b5c84e; position: absolute; left: 0; bottom: 0; width: 100%;}
.consigna h2 {float: left; width: 60%; line-height: 0.8em;}
.calafate {float: left; width: 20%}

section {height: 100%; position: relative;}

#productos {text-align: center}
#productos .container, #registro .container {height: 100%; padding-top: 40px;} 
#bases {min-height: 700px}
#bases .colContent {padding-top: 0.1em;}
.colMenu {width: 327px; float: left; position: relative; z-index: 100}
.colContent {margin: 0 auto; max-width: 600px; position: relative; z-index: 100; background: white}
.divDivisor {margin: 3em 0 5em}
.divDivisor img {width: 100%; height: auto}


/* Formulario de Registro */
.formRegistro {max-width: 600px; margin:0 auto 100px; background: #fff}
.formRegistro label {padding-left: 20px;}
.ancho100 {width: 100%; display: inline-block;}
.ancho60 {width: 60% !important; display: inline-block }
.ancho40 {width: 40%; display: inline-block;}
.ancho20 {width: 18%; display: inline-block;}
.combo {margin-bottom: 20px;}
.masEan {background: url(../images/mas.png) no-repeat; width: 36px; height: 36px; border: 0; margin-left: 10px; margin-right: 5px; cursor: pointer}
.ean {margin-bottom: 20px}
.observacion {font-size: 0.8em;position: relative; top: -12px; left: 5px;}
.observacion2 {font-size: 0.9em;}

.check {}
.check input[type="checkbox"] {float: left; margin-bottom: 1em; margin-right: 0.5em; position: relative; top: 0px}
.check label {display: block}

/* Bases y condiciones */
/*#masBases {display: none}*/
.btnProd {border: 2px solid #e2002c; color: #e2002c; display: inline-block; padding:0 70px 0 15px; border-radius: 20px; font-weight: 400; font-size: 25px; height: 40px; line-height: 40px; cursor: pointer; margin-bottom: 2em;}
.logoColgate {position: relative; top:17px; left: -70px; height: 35px; border: 4px solid white; display: inline-block;}

/* Footer */
footer {width: 100%; height: 80px; text-align: center; font-size: 14px;}
.copyright {font-size: 14px; color: #2d2d2d; letter-spacing: 0.2px;text-align: center; margin-bottom: 12px;}
.copyright a { font-size: 14px; color: #505050; text-decoration: underline;}
.copyright a:hover {color: #c00;}   
.brand a { display: block; width: 220px; height: 23px; margin: 0 auto; background: url(../images/cp.png) center center; text-align: center;}
.brand a:hover {background: url(../images/cp_hover.png) center center;}

/* Botones */
.btn {background: #e2002c; border: none; color: #fff; display: inline-block; padding:0 15px; border-radius: 17px; font-weight: 600; font-size: 20px; height: 35px; line-height: 35px; cursor: pointer;}


input[type="text"], input[type="email"] {border:2px solid #b5c84e; display: inline-block; padding:0 15px; font-weight: 600; font-size: 20px; height: 32px; line-height: 32px; width: 100%; box-sizing:border-box; vertical-align: middle;}
input[type="submit"] {font-family: 'Lato', sans-serif;}

.contentUp {width: 100%; position: fixed; bottom: 0; left:0; z-index: 999}
.scrollUp{ width:101px; height:57px; position:fixed; z-index: 999; bottom:20px; right:25px; display:none; background: url(../images/up.svg); }


/* D I V  L O A D I N G */
#divLoading {display: none; position: fixed; top: 0; left: 0; z-index: 5000; width: 100%; height: 100%; text-align: center; background: rgba(255,255,255,0.7);}
#divLoading img {position: absolute; top: 50%; left:50%; margin-top: -24px; margin-left: -24px}
#divLoading p {position: absolute; top:40%; width: 100%; font-size: 1.6em;}
